@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;
    background-color: #1f0035;
    font-family: Roboto Condensed    ,Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
}

header{
    width: 100%;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow:0 2px 5px rgba(0, 0, 0 ,0.1);
}

nav ul{
    list-style: nome;
    display: flex;
    gap: 1.5rem;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover{
    text-decoration: underline;
    opacity: 0.9;
}

img{
    max-width: 100%;
    width:500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0 ,0.1);
    margin: 1.5rem 0;
}

section{
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
    text-align: center;
}

ul{
    list-style: none;
}

footer{
    margin-top: auto;
    background-color: #3a5bff;
    color: #ffffff;
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    font-size: 0.9rem;
}